<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32035" type="ipaddress" id="multicast_address" default="239.0.0.1"/>
        <setting label="32036" type="number" id="multicast_port" default="10000"/>
        <setting type="sep"/>
        <setting label="32037" type="folder" id="dpf_folder" source="auto"/>
        <setting label="32040" type="slider" id="slideshow_delay" default="15" range="2,100" option="int" />
        <setting label="32041" type="bool" id="recurse_into_subfolders" default="true"/>
        <setting label="32047" type="bool" id="randomize" default="true"/>
        <setting label="32043" type="enum" id="rotation" default="1" lvalues="32044|32045|32046"/>
        <setting label="32039" type="enum" id="total_displays" default="2" values="1|2|3|4|5|6|7|8|9"/>
        <setting type="sep"/>
        <setting label="32042" type="slider" id="server_timeout_wait" default="5" range="1,10" option="int" />
    </category>
</settings>